.w-100 {
    width: 25%!important;
    margin-top: 0%;
}
h2.Carusel-heading {
    /* margin-right: auto;
    margin-left: auto; */
    color: white;
     margin-top: 2%;
}
.carousel-item-next, .carousel-item-prev, .carousel-item.active {
    display: flex;
}
.carousel-inner {
    background-color: rgb(0, 0, 0);
}
.w-100 {
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 4%;
}
.carusel-name {
    text-align: center;
}
h2.Carusel-description {
    margin-left: 5%;
    text-align: left;
}


