.categoryName {
    color: #E7E6E6;
    margin-top: 4%;
    text-align: left;
    margin-bottom: 0%;
    /* margin-bottom: 20px; */
    /* display: inline; */
}
.noItems {
    color: #E7E6E699;
    margin-left: 81%;
    margin-bottom: 3%;
    margin-top: -3%;
    font-weight: bolder;
    /* margin-top: 20px; */
}
.categoryHeading{
    color:white; 
    text-align: center;
    margin-top: 5%;
}
h3.Tredning {
    color: white;
    text-align: left;
    margin-bottom: 2%;
}