.address-text{
 color: #ffffff;
 margin-left: 25%;
}
.user-details{
    display: flex;
}

.funds-text{
    color: white;
    margin-left: 25%;

}
.Fund-btn {
    margin-left: 50%;
    width: 100%;
    /* margin-top: -50%; */
}