.dropdown-item svg {
    margin-bottom: 2px;
    margin-right: 7px;
}

#nav-sign-up {
    padding: 10px;
}

.navbar-nav .dropdown {
    top: 3px;
}

#nav-sign-in {
    color: white;
    padding: 10px;
    background: #343a40;
    border-radius: 5px;
}

#nav-sign-in:hover {
    background-color: #23272b;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-toggle svg {
    font-size: 24pt;
}

.navbar-nav svg {
    color: black;
    font-size: 14pt;
}
a#collasible-nav-dropdown {
    color: white;
    margin-top: 8% !important;
    margin-right: 5% !important;
}

#collasible-nav-dropdown svg {
    font-size: 24pt;
}

.dropleft .dropdown-toggle::before {
    display: none;
}

.titleName {
    color: white;
}

.navbar-brand a {
    font-family: serif;
    font-style: italic;
    font-size: 20pt;
}

.dropdown-item.active,
.dropdown-item:focus,
.dropdown-item.active svg {
    /* color: white;
    background-color: #E7E6E6;
    opacity: 0; */
}

#navImg {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 100px;
    border: 1px solid black;
}

.brand-logo {
    display: inline-flex !important;
    width: 4rem;
}

.color-nav {
    background-color: transparent;
}

.nav-link {
    color: white;
}
.headNav{
    color:white;
    margin-top:2%;
    margin-right:1rem;
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.headNav:hover{
    color:rgba(255, 255, 255, 0.897);
}
#about{
    margin-left:3rem;
}
nav.color-nav.navbar.navbar-expand.navbar-light {
    position: sticky;
    top: 0;
    z-index: 400;
    background-color: #551266;
}
svg.account-icon {
    color: white;
    font-weight: 1;
    margin-right: 27%;
}

.mr-auto.Nav-align.navbar-nav {
    margin: auto;
    margin-bottom: 1rem;
}